# Python stuff
*/__pycache__/
*.pyc
*.py[cod]
venv/

# Django stuff
static/
media/
db.sqlite3

# Node modules
node_modules/

# Frontend stuff
frontend/assets/

# OS stuff
.DS_Store

# Temp
property_data

# Frontend
frontend/.env*