<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game home</title>

    <script src="https://telegram.org/js/telegram-web-app.js"></script>

    <script>
        window.tiles = {{ tiles|safe }}
        // window.game = {{ game|safe }}
        // window.players = {{ players|safe }}
    </script>

    {% load django_vite %}
    {% vite_react_refresh nonce="{{ request.csp_nonce }}" %}
    {% vite_hmr_client %}
    {% vite_asset 'src/pages/game.tsx' %}
    <!-- {% vite_react_refresh %} -->
</head>

<body class="overflow-hidden">
    <div id="game" class="overflow-hidden"></div>
</body>

</html>